.list {
  list-style: none;
  padding: 0;
}
.item {
  padding: 7px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, 0.1),
    -2px -2px 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 5px 0 rgba(0, 0, 0, 0.1),
    -2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  font-size: 15px;
  letter-spacing: 2px;
  transition: 0.3s all linear;
}
.name {
  text-decoration: none;
  color: black;
  margin-top: 10px;
  margin-left: 5px;
}
.coment {
  padding-top: 30px;
}
